* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: blue;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    justify-content: space-between;
    padding: 1rem 5rem;
}

h1 {
    font-size: 2rem;
    color: white;
}

.login-button {
    width: 8rem;
    border-radius: 10px;
    background-color: #f0eef1;
    color: black;
    font-size: 1rem;
    font-weight: bold;
}

.login-button:hover {
    filter: brightness(90%);
}

.add-book-button {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: blue;
    color: white;
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
    border: none;
    border-radius: 5rem;
}

.add-book-button:hover {
    filter: brightness(80%);
    cursor: pointer;
}