:root {
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: blue;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    justify-content: space-between;
    padding: 1rem 1rem;
}

h1 {
    font-size: 2rem;
    color: white;
}

.login-button {
    width: 8rem;
    border-radius: 10px;
    background-color: #f0eef1;
    color: black;
    font-size: 1rem;
    font-weight: bold;
}

.login-button:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.add-book-button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: blue;
    color: white;
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
    border: none;
    border-radius: 5rem;
}

.add-book-button:hover {
    filter: brightness(80%);
    cursor: pointer;
}

form {
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate( 15rem, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blue;
    color: white;
    width: 30rem;
    height: 30rem;
    border-radius: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    gap: 10px;
}

form input[type='text'] {
    font-family: 'Poppins', sans-serif;
    width: 20rem;
    height: 3rem;
    border-radius: 1rem;
    border: none;
}

.read-container {
    width: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

.checkbox {
    border: none;
    width: 20px;
    height: 20px;
}

.submit-button {
    border: none;
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    background-color: #f0eef1;
    font-weight: bold;
    font-size: 1rem;
}

.submit-button:hover {
    filter: brightness(90%);
    cursor: pointer;
}